# First look at clubs dataset

In [57]:
import sys
sys.path.insert(0, r'..\src\data')
import ftb_clubs_wrangle as ftb
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', 500)
pd.set_option('display.expand_frame_repr', False)

In [40]:
fulldata = ftb.get_master("fulldata")
fulldata.info()

Fetching C:\Users\adeacon\Google Drive\projects\data\master/ftb_fulldata.txt
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290074 entries, 0 to 290073
Data columns (total 92 columns):
Unnamed: 0               290074 non-null int64
Attendance               9326 non-null float64
BookingPoints            9330 non-null float64
BookingPointsOpp         9330 non-null float64
Corners                  110686 non-null float64
CornersOpp               110686 non-null float64
Country                  290074 non-null object
Date                     290074 non-null object
Div                      290074 non-null object
Fouls                    109918 non-null float64
FoulsOpp                 109918 non-null float64
Goals                    290070 non-null float64
Goals1stHalf             250396 non-null float64
Goals1stHalfOpp          250396 non-null float64
GoalsOpp                 290070 non-null float64
HomeAway                 290074 non-null object
Offsides                 9314 non-null float64
OffsidesOpp              9314 non-null float64
RedCards                 111937 non-null float64
RedCardsOpp              111937 non-null float64
Referee                  71912 non-null object
Season                   290074 non-null object
Shots                    111436 non-null float64
ShotsHitWoodwork         9312 non-null float64
ShotsHitWoodworkOpp      9312 non-null float64
ShotsOnTarget            110212 non-null float64
ShotsOnTargetOpp         110212 non-null float64
ShotsOpp                 111436 non-null float64
Team                     288270 non-null object
TeamOpp                  288270 non-null object
Tier                     290074 non-null int64
YellowCards              111936 non-null float64
YellowCardsOpp           111936 non-null float64
GoalsDiff                290070 non-null float64
TotalGoals               290070 non-null float64
Goals1stHalfDiff         250396 non-null float64
TotalGoals1stHalf        250396 non-null float64
ShotsDiff                111436 non-null float64
TotalShots               111436 non-null float64
ShotsOnTargetDiff        110212 non-null float64
TotalShotsOnTarget       110212 non-null float64
ShotsHitWoodworkDiff     9312 non-null float64
TotalShotsHitWoodwork    9312 non-null float64
CornersDiff              110686 non-null float64
TotalCorners             110686 non-null float64
FoulsDiff                109918 non-null float64
TotalFouls               109918 non-null float64
OffsidesDiff             9314 non-null float64
TotalOffsides            9314 non-null float64
YellowCardsDiff          111934 non-null float64
TotalYellowCards         111934 non-null float64
RedCardsDiff             111936 non-null float64
TotalRedCards            111936 non-null float64
BookingPointsDiff        9330 non-null float64
TotalBookingPoints       9330 non-null float64
Saves                    110212 non-null float64
SavesOpp                 110212 non-null float64
SavesDiff                110212 non-null float64
Goals2ndHalf             250396 non-null float64
Goals2ndHalfOpp          250396 non-null float64
Goals2ndHalfDiff         250396 non-null float64
Result                   290074 non-null object
Points                   290074 non-null int64
PointsOpp                290074 non-null int64
Win                      290074 non-null int64
WinDraw                  290074 non-null int64
Draw                     290074 non-null int64
DrawLoss                 290074 non-null int64
Loss                     290074 non-null int64
WinShare                 290074 non-null float64
CleanSheet               290074 non-null int64
CleanSheetOpp            290074 non-null int64
GameWeek                 290074 non-null int64
City                     116007 non-null object
Stadium                  127212 non-null object
Capacity                 127212 non-null float64
Latitude                 127212 non-null float64
Longitude                127212 non-null float64
Easting                  37604 non-null float64
Northing                 37604 non-null float64
Grid Reference           37604 non-null object
CityOpp                  116007 non-null object
StadiumOpp               127212 non-null object
CapacityOpp              127212 non-null float64
LatitudeOpp              127212 non-null float64
LongitudeOpp             127212 non-null float64
EastingOpp               37604 non-null float64
NorthingOpp              37604 non-null float64
Grid ReferenceOpp        37604 non-null object
EuclideanDistance        96646 non-null float64
Manager                  13763 non-null object
ManagerOpp               13763 non-null object
dtypes: float64(63), int64(12), object(17)
memory usage: 203.6+ MB

In [39]:
fulldata.HomeAway.value_counts()

Home    145037
Away    145037
Name: HomeAway, dtype: int64

Note this dataset double counts matches because each match will occur as "Home" and "Away" entries.

In [37]:
pd.crosstab(fulldata.Season, fulldata.Country, margins=True)

Country    Belgium  England  France  Germany  Greece  Holland  Italy  Portugal  Scotland  Spain  Turkey     All
Season
1993-1994        0     2372     760     1372       0      612    612         0         0    760       0    6488
1994-1995        0     2516     760     1224     612      612    612       612       720    760     612    9040
1995-1996      612     2368     760     1224     612      612    612       612       720    924     612    9668
1996-1997      612     2314    1684     1224     612      612    612       612       720   1684     612   11298
1997-1998      612     2338    1536     1224     612      612   1372       612      1440   1684     612   12654
1998-1999      612     2264    1372     1224     612      612   1372       612      1440   1684     612   12416
1999-2000      612     2272    1372     1224     612      612   1372       612      1440   1684     612   12424
2000-2001      612     3126    1372        0     480      612   1372       612      1536   1684     612   12018
2001-2002      612     3138     612        0     364      612    612       612      1536    760     612    9470
2002-2003        0        0       0        0     480        0    612         0         0    760       0    1852
2003-2004      612      838       0        0     480      612      0         0       720    760     612    4634
2004-2005        0        0    1520      612       0        0      0       612       360      0     612    3716
2005-2006      612     4582    1520     1224     480      612   1684       612      1536   1684     612   15158
2006-2007      612     4888    1520     1224     480      612   1684       480      1536   1684       0   14720
2007-2008      612     4964     760     1224     480        0   1684         0      1536    760     612   12632
2008-2009      612     4988    1520     1224     480      612   1684       480      1536   1684     612   15432
2009-2010      420     4808    1520     1224     480      612   1684       480      1536   1684     544   14992
2010-2011      480     4986    1520     1224     480      612   1684       480      1536   1684     612   15298
2011-2012      480     4956    1520     1224     480      612   1684       480      1536   1684     612   15268
2012-2013      480     5002    1520     1224     480      612   1684       480      1536   1684     612   15314
2013-2014      480     5022    1520     1224     612      612   1684       480      1536   1684     612   15466
2014-2015      480     4930    1520     1224     612      612   1684       612      1536   1684     612   15506
2015-2016      480     4776    1520     1224     480      612   1684       612      1536   1684     612   15220
2016-2017      480     3722    1520     1224     480      612   1684       612      1536   1684     612   14166
2017-2018      224     1706     518      432     160      198    544       198       518    528     198    5224
All          11348    82876   29746    24448   11660    13050  29912     11514     29582  32956   12982  290074

So we clearly have some incomplete data - particularly for early 2000s.

Also the English data has far too volatile count. I suspect my pre-processing is re-arranging the data in unexpected days.

Let's make a note to investigate those issues but carry on with our initial analysis...

In [82]:
fulldata.Goals.value_counts()

1.0     99481
0.0     82870
2.0     63614
3.0     28678
4.0     10615
5.0      3411
6.0      1025
7.0       277
8.0        79
9.0        15
10.0        5
Name: Goals, dtype: int64