# Messi data exploration

<!-- Written report for this analysis can be found [here](../reports/messi_01_finding_leo.md) -->

In [1]:
from statsbombpy import sb

In [2]:
comps = sb.competitions()
comps.describe(include="all")

credentials were not supplied. open data access only

,competition_id,season_id,country_name,competition_name,competition_gender,season_name,match_updated,match_available
count,37.000000,37.000000,37,37,37,37,37,37
unique,NaN,NaN,5,7,2,20,9,8
top,NaN,NaN,Spain,La Liga,male,2018/2019,2020-07-29T05:00,2020-07-29T05:00
freq,NaN,NaN,16,16,33,3,22,28
mean,17.729730,25.675676,NaN,NaN,NaN,NaN,NaN,NaN
std,13.251098,16.721666,NaN,NaN,NaN,NaN,NaN,NaN
min,2.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,11.000000,21.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,16.000000,25.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,16.000000,39.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,72.000000,76.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
comps[comps.country_name == "Spain"].describe(include="all")

,competition_id,season_id,country_name,competition_name,competition_gender,season_name,match_updated,match_available
count,16.0,16.000000,16,16,16,16,16,16
unique,NaN,NaN,1,1,1,16,3,3
top,NaN,NaN,Spain,La Liga,male,2018/2019,2020-07-29T05:00,2020-07-29T05:00
freq,NaN,NaN,16,16,16,1,14,14
mean,11.0,25.750000,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,13.786467,NaN,NaN,NaN,NaN,NaN,NaN
min,11.0,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,11.0,21.750000,NaN,NaN,NaN,NaN,NaN,NaN
50%,11.0,25.500000,NaN,NaN,NaN,NaN,NaN,NaN
75%,11.0,38.250000,NaN,NaN,NaN,NaN,NaN,NaN
max,11.0,42.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
sb.matches(competition_id=11, season_id=42).head(5)

credentials were not supplied. open data access only

,match_id,match_date,kick_off,competition,season,home_team,away_team,home_score,away_score,match_status,last_updated,match_week,competition_stage,stadium,referee,data_version,shot_fidelity_version,xy_fidelity_version
0,303421,2020-07-19,17:00:00.000,Spain - La Liga,2019/2020,Deportivo Alavés,Barcelona,0,5,available,2020-07-29T05:00,38,Regular Season,Estadio de Mendizorroza,Juan Martínez,1.1.0,2,2
1,303493,2020-06-23,22:00:00.000,Spain - La Liga,2019/2020,Barcelona,Athletic Bilbao,1,0,available,2020-07-29T05:00,31,Regular Season,Camp Nou,Jesús Gil,1.1.0,2,2
2,303516,2020-06-27,17:00:00.000,Spain - La Liga,2019/2020,Celta Vigo,Barcelona,2,2,available,2020-07-29T05:00,32,Regular Season,Abanca-Balaídos,Guillermo Cuadra,1.1.0,2,2
3,303680,2020-07-11,19:30:00.000,Spain - La Liga,2019/2020,Real Valladolid,Barcelona,0,1,available,2020-12-18T12:10:38.985394,36,Regular Season,Estadio Municipal José Zorrilla,Antonio Mateu,1.1.0,2,2
4,303532,2020-06-16,22:00:00.000,Spain - La Liga,2019/2020,Barcelona,Leganés,2,0,available,2020-07-29T05:00,29,Regular Season,Camp Nou,Juan Martínez,1.1.0,2,2

In [5]:
sb.lineups(match_id=303421)["Barcelona"]

credentials were not supplied. open data access only

,player_id,player_name,player_nickname,jersey_number,country
0,4447,Martin Braithwaite Christensen,Martin Braithwaite,19,Denmark
1,5203,Sergio Busquets i Burgos,Sergio Busquets,5,Spain
2,5211,Jordi Alba Ramos,Jordi Alba,18,Spain
3,5246,Luis Alberto Suárez Díaz,Luis Suárez,9,Uruguay
4,5503,Lionel Andrés Messi Cuccittini,Lionel Messi,10,Argentina
5,6374,Nélson Cabral Semedo,Nélson Semedo,2,Portugal
6,6379,Sergi Roberto Carnicer,Sergi Roberto,20,Spain
7,6590,Norberto Murara Neto,Neto,13,Brazil
8,6826,Clément Lenglet,None,15,France
9,8118,Frenkie de Jong,None,21,Netherlands
10,8206,Arturo Erasmo Vidal Pardo,Arturo Vidal,22,Chile
11,20055,Marc-André ter Stegen,Marc-André ter Stegen,1,Germany
12,24841,Ricard Puig Martí,Riqui Puig,28,Spain
13,30756,Anssumane Fati,Ansu Fati,31,International
14,32480,Ronald Federico Araújo da Silva,Ronald Araújo,33,Uruguay
15,39159,Arnau Tenas Ureña,Arnau Tenas,36,Spain

In [6]:
events = sb.competition_events(
    country="Spain",
    division= "La Liga",
    season="2019/2020",
    gender="male"
)

events.info()

credentials were not supplied. open data access only
credentials were not supplied. open data access only
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129059 entries, 0 to 129058
Data columns (total 40 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   50_50            62 non-null      object
 1   bad_behaviour    36 non-null      object
 2   ball_receipt     4102 non-null    object
 3   ball_recovery    219 non-null     object
 4   block            80 non-null      object
 5   carry            30480 non-null   object
 6   clearance        1138 non-null    object
 7   counterpress     3372 non-null    object
 8   dribble          1150 non-null    object
 9   duel             1681 non-null    object
 10  duration         93339 non-null   float64
 11  foul_committed   334 non-null     object
 12  foul_won         353 non-null     object
 13  goalkeeper       876 non-null     object
 14  id               129059 non-null  object
 15  index            129059 non-null  int64
 16  injury_stoppage  8 non-null       object
 17  interception     585 non-null     object
 18  location         128294 non-null  object
 19  match_id         129059 non-null  int64
 20  minute           129059 non-null  int64
 21  miscontrol       29 non-null      object
 22  off_camera       1299 non-null    object
 23  out              783 non-null     object
 24  pass             37157 non-null   object
 25  period           129059 non-null  int64
 26  play_pattern     129059 non-null  object
 27  player           128635 non-null  object
 28  position         128635 non-null  object
 29  possession       129059 non-null  int64
 30  possession_team  129059 non-null  object
 31  related_events   125163 non-null  object
 32  second           129059 non-null  int64
 33  shot             752 non-null     object
 34  substitution     225 non-null     object
 35  tactics          128 non-null     object
 36  team             129059 non-null  object
 37  timestamp        129059 non-null  object
 38  type             129059 non-null  object
 39  under_pressure   24337 non-null   object
dtypes: float64(1), int64(6), object(33)
memory usage: 39.4+ MB

In [13]:
events[(events.player == "Lionel Andrés Messi Cuccittini")
      & (events.type == "Shot")].head(5)

,50_50,bad_behaviour,ball_receipt,ball_recovery,block,carry,clearance,counterpress,dribble,duel,...,possession_team,related_events,second,shot,substitution,tactics,team,timestamp,type,under_pressure
123835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Barcelona,"[86816c9e-eb56-4bf4-b16f-b986554d064a, 96c9574...",16,"{'statsbomb_xg': 0.039079446, 'end_location': ...",NaN,NaN,Barcelona,00:15:16.461,Shot,True
123837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Barcelona,[d806859f-46b8-4f3c-8f3d-1dfd1dab6fd3],42,"{'statsbomb_xg': 0.096506976, 'end_location': ...",NaN,NaN,Barcelona,00:20:42.411,Shot,NaN
123840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Barcelona,[643bfedb-a6d9-4667-bb6a-71a38cbadd5c],2,"{'one_on_one': True, 'statsbomb_xg': 0.5131843...",NaN,NaN,Barcelona,00:33:02.526,Shot,NaN
123846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Barcelona,"[1d5548cd-eb9b-43d9-a24a-e80bf87249e0, 35d7026...",12,"{'statsbomb_xg': 0.1440358, 'end_location': [1...",NaN,NaN,Barcelona,00:29:12.670,Shot,True
123853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Barcelona,[c92b8965-4597-4875-8ea5-be2ef66fc489],47,"{'statsbomb_xg': 0.026493408, 'end_location': ...",NaN,NaN,Barcelona,00:09:47.865,Shot,NaN

In [11]:
events[events.player == "Lionel Andrés Messi Cuccittini"].type.value_counts()

Ball Receipt*      2616
Carry              2226
Pass               2142
Pressure            287
Dribble             274
Shot                159
Ball Recovery       101
Foul Won             89
Dispossessed         88
Miscontrol           65
Foul Committed       21
Duel                 18
Block                18
Dribbled Past        18
Interception          4
Injury Stoppage       3
50/50                 2
Player On             1
Bad Behaviour         1
Offside               1
Player Off            1
Substitution          1
Clearance             1
Name: type, dtype: int64

In [12]:
events[events.player == "Lionel Andrés Messi Cuccittini"].describe(include="all")

,50_50,bad_behaviour,ball_receipt,ball_recovery,block,carry,clearance,counterpress,dribble,duel,...,possession_team,related_events,second,shot,substitution,tactics,team,timestamp,type,under_pressure
count,2,1,387,9,1,2226,1,130,274,18,...,8137,7971,8137.000000,159,1,0,8137,8137,8137,2373
unique,2,1,1,2,1,2219,1,1,6,5,...,20,7968,NaN,159,1,0,1,5655,23,1
top,"{'outcome': {'id': 1, 'name': 'Lost'}}","{'card': {'id': 7, 'name': 'Yellow Card'}}","{'outcome': {'id': 9, 'name': 'Incomplete'}}",{'recovery_failure': True},{'deflection': True},"{'end_location': [78.1, 35.1]}","{'left_foot': True, 'body_part': {'id': 38, 'n...",True,"{'outcome': {'id': 8, 'name': 'Complete'}}","{'type': {'id': 11, 'name': 'Tackle'}, 'outcom...",...,Barcelona,"[01e2c5df-9281-4d45-bc8b-eb588607528a, 09c1d88...",NaN,"{'statsbomb_xg': 0.039079446, 'end_location': ...","{'outcome': {'id': 102, 'name': 'Injury'}, 're...",NaN,Barcelona,00:47:11.382,Ball Receipt*,True
freq,1,1,387,8,1,2,1,130,174,6,...,7744,2,NaN,1,1,NaN,8137,4,2616,2373
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,29.954897,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,17.391864,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,15.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,30.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,46.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,59.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# import pandas as pd

In [24]:
events[(events.player == "Lionel Andrés Messi Cuccittini")
      & (events.type == "Shot")].head(1).shot.values[0] #["statsbomb_xg"]

{'statsbomb_xg': 0.039079446,
 'end_location': [120.0, 36.2, 1.9],
 'key_pass_id': 'ee497795-0aa0-4f41-b57e-d439a97324eb',
 'technique': {'id': 93, 'name': 'Normal'},
 'body_part': {'id': 38, 'name': 'Left Foot'},
 'type': {'id': 87, 'name': 'Open Play'},
 'outcome': {'id': 99, 'name': 'Post'},
 'freeze_frame': [{'location': [104.3, 34.5],
   'player': {'id': 30756, 'name': 'Anssumane Fati'},
   'position': {'id': 21, 'name': 'Left Wing'},
   'teammate': True},
  {'location': [106.3, 36.8],
   'player': {'id': 5246, 'name': 'Luis Alberto Suárez Díaz'},
   'position': {'id': 23, 'name': 'Center Forward'},
   'teammate': True},
  {'location': [106.8, 43.9],
   'player': {'id': 8206, 'name': 'Arturo Erasmo Vidal Pardo'},
   'position': {'id': 13, 'name': 'Right Center Midfield'},
   'teammate': True},
  {'location': [103.0, 59.3],
   'player': {'id': 6379, 'name': 'Sergi Roberto Carnicer'},
   'position': {'id': 2, 'name': 'Right Back'},
   'teammate': True},
  {'location': [87.2, 53.2],
   'player': {'id': 3513, 'name': 'Oliver Burke'},
   'position': {'id': 16, 'name': 'Left Midfield'},
   'teammate': False},
  {'location': [98.4, 35.7],
   'player': {'id': 6659, 'name': 'Víctor Camarasa Ferrando'},
   'position': {'id': 13, 'name': 'Right Center Midfield'},
   'teammate': False},
  {'location': [101.6, 31.6],
   'player': {'id': 26387, 'name': 'Edgar Antonio Méndez Ortega'},
   'position': {'id': 12, 'name': 'Right Midfield'},
   'teammate': False},
  {'location': [96.8, 44.8],
   'player': {'id': 6632, 'name': 'Manuel Alejandro García Sánchez'},
   'position': {'id': 15, 'name': 'Left Center Midfield'},
   'teammate': False},
  {'location': [103.6, 33.8],
   'player': {'id': 6618, 'name': 'Martín Aguirregabiria Padilla'},
   'position': {'id': 2, 'name': 'Right Back'},
   'teammate': False},
  {'location': [99.8, 42.9],
   'player': {'id': 23263, 'name': 'Lisandro Magallán'},
   'position': {'id': 5, 'name': 'Left Center Back'},
   'teammate': False},
  {'location': [102.5, 38.1],
   'player': {'id': 6615, 'name': 'Víctor Laguardia Cisneros'},
   'position': {'id': 3, 'name': 'Right Center Back'},
   'teammate': False},
  {'location': [103.0, 49.9],
   'player': {'id': 6935, 'name': 'Adrián Marín Gómez'},
   'position': {'id': 6, 'name': 'Left Back'},
   'teammate': False},
  {'location': [118.4, 39.8],
   'player': {'id': 6571, 'name': 'Roberto Jiménez Gago'},
   'position': {'id': 1, 'name': 'Goalkeeper'},
   'teammate': False}]}

In [68]:
events[(events.player == "Lionel Andrés Messi Cuccittini")
      & (events.type == "Pass")].sample(1)["pass"].values[0] #["statsbomb_xg"]

{'recipient': {'id': 6374, 'name': 'Nélson Cabral Semedo'},
 'length': 33.90944,
 'angle': 0.02359444,
 'height': {'id': 1, 'name': 'Ground Pass'},
 'end_location': [101.0, 55.0],
 'assisted_shot_id': 'ab56a868-ed9b-45f2-ae76-f8b081124001',
 'shot_assist': True,
 'body_part': {'id': 38, 'name': 'Left Foot'},
 'type': {'id': 66, 'name': 'Recovery'},
 'through_ball': True,
 'technique': {'id': 108, 'name': 'Through Ball'}}

In [32]:
# events[(events.player == "Lionel Andrés Messi Cuccittini")
#       & (events.type == "Pass")].head(1)["related_events"].values[0] #["statsbomb_xg"]

['2579ef29-dfcc-4a01-8204-c8dd3338cfa5',
 'cbdac73b-133e-4243-9f4f-e3ab339759cf']